/* imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* /imports */

/* reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* /reset */

/* material design */
/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-96 {
  font-size: 96px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
/* /material design */

/* typography */
* {
  font-family: "Roboto", sans-serif;
}
/* /typography */

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dogecoin-info {
  text-align: center;
}

.dogecoin-info__gif {
  /* width: initial; */
}

.dogecoin-info__message {
  margin: 2rem 0.25rem 0 0.25rem;
}

.arrow-container--bg-bearish {
  background-color: rgba(225, 82, 65, 0.5);
}

.arrow-container--bg-bullish {
  background-color: rgba(78, 175, 10, 0.5);
}

/* arrow container */
.arrow-container {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: none;
  z-index: -1;
}
/* /arrow container */

/* background animation */
.arrow {
  position: relative;
  width: initial;
  z-index: -1;
  opacity: 0;
}

.arrow.bearish {
  color: red;
}

.arrow.bullish {
  color: green;
}

.animation-bearish {
  -webkit-animation: floatDown 10s 1 linear;
  -moz-animation: floatDown 10s 1 linear;
  -o-animation: floatDown 10s 1 linear;
  animation: floatDown 10s 1 linear;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.animation-bullish {
  -webkit-animation: floatUp 10s 1 linear;
  -moz-animation: floatUp 10s 1 linear;
  -o-animation: floatUp 10s 1 linear;
  animation: floatUp 10s 1 linear;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

@-webkit-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    top: 0vh;
    opacity: 0;
  }
}
@-moz-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    top: 0vh;
    opacity: 0;
  }
}
@-o-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    top: 0vh;
    opacity: 0;
  }
}
@keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    top: 0vh;
    opacity: 0;
  }
}

@-webkit-keyframes floatDown {
  0% {
    top: 0vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    top: 85vh;
    opacity: 0;
  }
}
@-moz-keyframes floatDown {
  0% {
    top: 0vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    top: 85vh;
    opacity: 0;
  }
}
@-o-keyframes floatDown {
  0% {
    top: 0vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    top: 85vh;
    opacity: 0;
  }
}
@keyframes floatDown {
  0% {
    top: 0vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    top: 85vh;
    opacity: 0;
  }
}
/* /background animation */

/* settings & info drawer */
.settings-drawer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ffaa20;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.settings-drawer--closed {
  top: calc(
    100vh - 3.5rem
  ); /* 100vh - .settings-drawer__toggle height and margin combined */
  transition: top 1000ms ease-in-out;
}

.settings-drawer--open {
  top: 0;
  transition: top 1000ms ease-in-out;
}

.settings-drawer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: 0 auto;
}

.settings-drawer__toggle {
  height: 1.5rem;
  margin: 1rem 0;
}

.settings-form {
  width: 100%;
}

.fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.2rem;
}

.fieldset__legend {
  text-align: left;
  padding: 0.25rem;
  font-size: 1.25rem;
  background-color: #fff;
}

.input-group {
  margin: 0.25rem 0;
}
/* /settings & info drawer */

/* footer */
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  /* padding-bottom: 1rem; */
}
/* footer */

/* linked callout */
.linked-callout {
  display: flex;
  margin: 1rem 0;
}

.linked-callout__link {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
}

.linked-callout__link:hover {
  color: #333;
}

.linked-callout__link:visited {
  color: initial;
}

.linked-callout__text {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.linked-callout__image {
  width: 3rem;
}
/* /linked callout */

/* mobile*/
/* breakpoint: 930px */
@media screen and (max-width: 930px) {
  .arrow-container span:nth-child(odd) {
    display: none;
  }

  .settings-drawer__container {
    width: 60%;
  }
}

/* breakpoint: 650px */
@media screen and (max-width: 650px) {
  .arrow-container span:nth-child(2),
  .arrow-container span:nth-child(8) {
    display: none;
  }

  .settings-drawer__container {
    width: 90%;
  }
}
/* /mobile */
